"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      maxIntensity: 5
      minIntensity: 2
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "4d8df1d5-ba21-481d-ba98-5c8a0addab83"
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js: {}
    json: {}
    jsx:
      break_chained_methods: true
    latex:
      remove_trailing_whitespace: true
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-material-ui":
    fonts: {}
    panelContrast: true
  "autoclose-html": {}
  "autocomplete-clang": {}
  "autocomplete-java": {}
  "autocomplete-plus": {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "autoclose-html"
      "autocomplete-clang"
      "linter"
      "linter-gcc"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "9b50b718-670a-34ab-7fd3-ad2733ec070b"
  linter:
    errorPanelHeight: 95
    ignoreVCSIgnoredFiles: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-clang": {}
  "linter-gcc": {}
  "linter-javac": {}
  "markdown-pdf": {}
  "markdown-preview": {}
  "markdown-preview-plus":
    useGitHubStyle: true
  "markdown-writer": {}
  minimap:
    absoluteMode: true
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui": {}
  "one-light-ui": {}
  "spell-check": {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  welcome:
    showOnStartup: false
".bibtex.text":
  editor:
    scrollPastEnd: false
    softWrap: true
